{% extends 'base.html.twig' %}

{% block title %}ReadLog index{% endblock %}

{% block body %}
    <h1>ReadLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>FinishDate</th>
                <th>Rating</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for read_log in read_logs %}
            <tr>
                <td>{{ read_log.id }}</td>
                <td>{{ read_log.startDate ? read_log.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ read_log.finishDate ? read_log.finishDate|date('Y-m-d') : '' }}</td>
                <td>{{ read_log.rating }}</td>
                <td>{{ read_log.notes }}</td>
                <td>
                    <a href="{{ path('app_read_log_show', {'id': read_log.id}) }}">show</a>
                    <a href="{{ path('app_read_log_edit', {'id': read_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_read_log_new') }}">Create new</a>
{% endblock %}
