{% extends 'base.html.twig' %}

{% block title %}Your Personal Library{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const setReaderUrl = '{{ path('app_set_reader') }}';
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('btnEnter').addEventListener('click', function(event) {
                debugger;

                const readerSelect = document.getElementById('reader');

                if (!readerSelect.value) {
                    alert('Select a reader');
                } else {
                    const dashboardUrl = '{{ path('app_dashboard') }}' + '?readerId=' + readerSelect.value;
                    window.location.href = dashboardUrl;
                }
            })
        });
    </script>
{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('{{ asset('images/library-background.png') }}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
    }
</style>

<div class="main-wrapper">
    <select id="reader" class="reader">
        <option value="">Choose your reader name...</option>
        {% for reader in readersList %}
        <option value="{{ reader.id }}">{{ reader.nickname }} ({{ reader.fullName }})</option>
        {% endfor %}
    </select>
    <a href="#" id="btnEnter" class="enter-button">Enter to the library</a>
</div>
{% endblock %}
