{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}

<div class="content-header">
    <h1>Dashboard</h1>
</div>

<div class="dashboard-content">
    <div class="dashboard-card card-reading">
        <h3>Reading now:</h3>
        <ul>
            {% for bookName in redingNowList %}
                <li>{{ bookName }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="dashboard-content" style="margin-top: 20px">
    <div class="dashboard-card card-finished">
        <h3>Books read this year ({{ thisYear }})</h3>
        <ul>
        {% for bookName in booksList %}
            <li>{{ bookName }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="dashboard-card">
        <h3>Statistics for {{ thisYear }}</h3>
        You have read <span class="highlight-stat">{{ booksCount }} books</span>; <br>
        Meaning <span class="highlight-stat">{{ pages }} pages</span> in total; <br>
        At an average reading speed of <span class="highlight-stat">{{ avgDays }} days</span> per book; <br>
    </div>
</div>

<div class="dashboard-content" style="margin-top: 20px">
    <div class="dashboard-card">
        <h3>Total Statistics</h3>
        <ul>
            <li>Your library has a total of <span class="highlight-stat">{{ librarySize }}</span> books </li>
            <li>You have read <span class="highlight-stat">{{ totalLogs }}</span> books of your library</li>
            <li>Which represent <span class="highlight-stat">{{ totalReadPercentage }}%</span> of the total </li>
        </ul>
    </div>
</div>
