{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/rr-styles.css') }}">
{% endblock %}

<div class="content-header">
    <h1>Dashboard</h1>
</div>

<div class="dashboard-content">
    <div class="dashboard-card">
        <h3>Books read this year ({{ thisYear }})</h3>
        <ul>
        {% for bookName in booksList %}
            <li>{{ bookName }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="dashboard-card">
        <h3>Statistics for {{ thisYear }}</h3>
        You have read {{ booksCount }} books; <br>
        At an average reading speed of {{ avgDays }} days per book; <br>
        Meaning {{ pages }} pages in total; <br>
    </div>
</div>

<div class="dashboard-content" style="margin-top: 20px">
    <div class="dashboard-card">
        <h3>Summary</h3>
        <ul>
            <li>Your library has a total of {{ librarySize }} books </li>
            <li>You have read {{ totalLogs }} books </li>
            <li>Which represent {{ totalReadPercentage }}% of the total </li>
        </ul>
    </div>
</div>
